set constantshow
#set mouse

bind    ^]          cutwordleft         main
bind    ^\\         cutwordright        main


# bind    ^`         cutwordright         main # happens on press space bar
# bind    ^[         cutwordright         main # invalid
# bind    ^~         cutwordright         main # is actually ^`
# bind    ^{         cutwordright         main # invalid
# bind    ^]         cutwordright         main
# bind    ^}         cutwordright         main
# bind    ^@         cutwordright         main
# bind    M-1        cutwordright         main
# bind    M-2        cutwordright         main
# bind    M-3        cutwordright         main
# bind    M-4        cutwordright         main
# bind    M-5        cutwordright         main
# bind    M-7        cutwordright         main
# bind    M-8        cutwordright         main
# bind    M-`        cutwordright         main
# bind    M-~        cutwordright         main
# bind    M-;        cutwordright         main
# bind    M-:        cutwordright         main
# bind    M-!        cutwordright         main
# bind    M-'        cutwordright         main
# bind    M-"        cutwordright         main
# bind    M-@        cutwordright         main
# bind    M-*        cutwordright         main
# bind    M-\        cutwordright         main
# bind    M-&        cutwordright         main
# bind    M-#        cutwordright         main
# bind    M-%        cutwordright         main
# bind    ^Q         cutwordright         main
#


# all unbound

# bind M-! cutwordleft main
# bind M-" cutwordleft main
# bind M-# cutwordleft main
# bind M-% cutwordleft main
# bind M-& cutwordleft main
# bind M-' cutwordleft main
# bind M-* cutwordleft main
# bind M-1 cutwordleft main
# bind M-2 cutwordleft main
# bind M-3 cutwordleft main
# bind M-4 cutwordleft main
# bind M-5 cutwordleft main
# bind M-7 cutwordleft main
# bind M-8 cutwordleft main
# bind M-: cutwordleft main
# bind M-; cutwordleft main
# bind ^@ cutwordleft main
# bind M-@ cutwordleft main
# bind ^Q cutwordleft main
# bind ^[ cutwordleft main
# bind M-\ cutwordleft main
# bind ^] cutwordleft main
# bind ^` cutwordleft main
# bind M-` cutwordleft main
# bind ^Q cutwordleft main
# bind ^{ cutwordleft main
# bind ^| cutwordleft main
# bind ^} cutwordleft main
# bind ^~ cutwordleft main
# bind M-~ cutwordleft main


# all allowable

# bind M-! cutwordleft main
# bind M-" cutwordleft main
# bind M-# cutwordleft main
# bind M-$ cutwordleft main
# bind M-% cutwordleft main
# bind M-& cutwordleft main
# bind M-' cutwordleft main
# bind M-( cutwordleft main
# bind M-) cutwordleft main
# bind M-* cutwordleft main
# bind M-+ cutwordleft main
# bind M-, cutwordleft main
# bind M-- cutwordleft main
# bind M-. cutwordleft main
# bind M-/ cutwordleft main
# bind M-0 cutwordleft main
# bind M-1 cutwordleft main
# bind M-2 cutwordleft main
# bind M-3 cutwordleft main
# bind M-4 cutwordleft main
# bind M-5 cutwordleft main
# bind M-6 cutwordleft main
# bind M-7 cutwordleft main
# bind M-8 cutwordleft main
# bind M-9 cutwordleft main
# bind M-: cutwordleft main
# bind M-; cutwordleft main
# bind M-< cutwordleft main
# bind M-= cutwordleft main
# bind M-> cutwordleft main
# bind M-? cutwordleft main
# bind ^@ cutwordleft main
# bind M-@ cutwordleft main
# bind ^A cutwordleft main
# bind M-A cutwordleft main
# bind ^B cutwordleft main
# bind M-B cutwordleft main
# bind ^C cutwordleft main
# bind M-C cutwordleft main
# bind ^D cutwordleft main
# bind M-D cutwordleft main
# bind ^E cutwordleft main
# bind M-E cutwordleft main
# bind ^F cutwordleft main
# bind M-F cutwordleft main
# bind ^G cutwordleft main
# bind M-G cutwordleft main
# bind ^H cutwordleft main
# bind M-H cutwordleft main
# bind ^I cutwordleft main
# bind M-I cutwordleft main
# bind ^J cutwordleft main
# bind M-J cutwordleft main
# bind ^K cutwordleft main
# bind M-K cutwordleft main
# bind ^L cutwordleft main
# bind M-L cutwordleft main
# bind ^M cutwordleft main
# bind M-M cutwordleft main
# bind ^N cutwordleft main
# bind M-N cutwordleft main
# bind ^O cutwordleft main
# bind M-O cutwordleft main
# bind ^P cutwordleft main
# bind M-P cutwordleft main
# bind ^Q cutwordleft main
# bind M-Q cutwordleft main
# bind ^R cutwordleft main
# bind M-R cutwordleft main
# bind ^S cutwordleft main
# bind M-S cutwordleft main
# bind ^T cutwordleft main
# bind M-T cutwordleft main
# bind ^U cutwordleft main
# bind M-U cutwordleft main
# bind ^V cutwordleft main
# bind M-V cutwordleft main
# bind ^W cutwordleft main
# bind M-W cutwordleft main
# bind ^X cutwordleft main
# bind M-X cutwordleft main
# bind ^Y cutwordleft main
# bind M-Y cutwordleft main
# bind ^Z cutwordleft main
# bind M-Z cutwordleft main
# bind ^[ cutwordleft main
# bind ^\ cutwordleft main
# bind M-\ cutwordleft main
# bind ^] cutwordleft main
# bind M-] cutwordleft main
# bind ^^ cutwordleft main
# bind M-^ cutwordleft main
# bind ^_ cutwordleft main
# bind M-_ cutwordleft main
# bind ^` cutwordleft main
# bind M-` cutwordleft main
# bind ^a cutwordleft main
# bind M-a cutwordleft main
# bind ^b cutwordleft main
# bind M-b cutwordleft main
# bind ^c cutwordleft main
# bind M-c cutwordleft main
# bind ^d cutwordleft main
# bind M-d cutwordleft main
# bind ^e cutwordleft main
# bind M-e cutwordleft main
# bind ^f cutwordleft main
# bind M-f cutwordleft main
# bind ^g cutwordleft main
# bind M-g cutwordleft main
# bind ^h cutwordleft main
# bind M-h cutwordleft main
# bind ^i cutwordleft main
# bind M-i cutwordleft main
# bind ^j cutwordleft main
# bind M-j cutwordleft main
# bind ^k cutwordleft main
# bind M-k cutwordleft main
# bind ^l cutwordleft main
# bind M-l cutwordleft main
# bind ^m cutwordleft main
# bind M-m cutwordleft main
# bind ^n cutwordleft main
# bind M-n cutwordleft main
# bind ^o cutwordleft main
# bind M-o cutwordleft main
# bind ^p cutwordleft main
# bind M-p cutwordleft main
# bind ^q cutwordleft main
# bind M-q cutwordleft main
# bind ^r cutwordleft main
# bind M-r cutwordleft main
# bind ^s cutwordleft main
# bind M-s cutwordleft main
# bind ^t cutwordleft main
# bind M-t cutwordleft main
# bind ^u cutwordleft main
# bind M-u cutwordleft main
# bind ^v cutwordleft main
# bind M-v cutwordleft main
# bind ^w cutwordleft main
# bind M-w cutwordleft main
# bind ^x cutwordleft main
# bind M-x cutwordleft main
# bind ^y cutwordleft main
# bind M-y cutwordleft main
# bind ^z cutwordleft main
# bind M-z cutwordleft main
# bind ^{ cutwordleft main
# bind M-{ cutwordleft main
# bind ^| cutwordleft main
# bind M-| cutwordleft main
# bind ^} cutwordleft main
# bind M-} cutwordleft main
# bind ^~ cutwordleft main
# bind M-~ cutwordleft main
#
